<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Glitch Request Board!</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Main Requests Page
      </h1>
    </header>

    <main>
      <div class="top">
        <div class="top__request-form" id="request-form">
          <form id="form-r">
            <label for="employee_name">Employee Name</label>
            <input type="text" id="employee_name"> 
            <label for="item">Item</label>
            <textarea id="item" style="width:300px; height:100px;" placeholder="Place the item name and description here..."></textarea>
            <label for="link_address">Link to Purchase</label>
            <input type="text" id="link_address">
            <label for="when_needed">When is it needed by?</label>
            <input type="date" id="when_needed">
            <label for="why_needed">Why is it needed?</label>
            <textarea id="why_needed" style="width:300px; height:100px;" placeholder="..."></textarea>
            <label for="category">Category</label>
            <select id="category">
              <option value="software">Software License</option>
              <option value="equipment">Equipment</option>
              <option value="supplies">Office Supplies</option>
            </select>
          </form>
        </div>
      </div>
      
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" defer></script>
  </body>
</html>
