<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Glitch Request Board!</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Main Requests Page
      </h1>
    </header>

    <main>
      <div class="main-grid">
        <div class="left__request-form" id="request-form">
          <form id="form-r">
            <label for="employee_name">Employee Name</label>
            <input type="text" id="employee_name"> 
            <label for="item">Item</label>
            <textarea id="item" style="width:340px; height:100px;" placeholder="Place the item name and description here..."></textarea>
            <label for="link_address">Link to Purchase</label>
            <input type="text" id="link_address" placeholder="https://... ">
            <label for="when_needed">When is it needed by?</label>
            <input type="date" id="when_needed">
            <label for="why_needed">Why is it needed?</label>
            <textarea id="why_needed" style="width:340px; height:100px;" placeholder="..."></textarea>
            <label for="category">Category</label>
            <select id="category">
              <option value="Software">Software License</option>
              <option value="Equipment">Equipment</option>
              <option value="Supplies">Office Supplies</option>
            </select>
            <input type="submit" value="Submit">
            <p>
              * If you are having any issues, please DM Sean
            </p>
          </form>
        </div>
        <div class="right__tracking-area" id="tracking-area">
          
        </div>
      </div>
      
    </main>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
    
  </body>
</html>
